.switch-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 40px;
  z-index: 1000; /* Asegura que el switcher esté en el frente */
  position: relative; /* Asegura que el z-index funcione */
}

.switch-container label {
  margin: 0 10px;
  color: #fff;
}

.switch-container input[type='radio'] {
  margin-right: 5px;
}
