
.footer {
    background-color: rgba(37, 37, 37, 0.8); /* Fondo oscuro con opacidad */
    color: #fff; /* Color de texto blanco */
    text-align: center;
    padding: 20px 0; /* Ajusta el padding superior e inferior */
  }
  
  /* Estilos para las secciones del footer (redes sociales y contacto) */
  .redes-sociales,
  .contacto {
    text-align: center;
    margin-bottom: 20px; /* Espacio entre secciones */
  }
  
  .redes-sociales h3,
  .contacto h3 {
    font-size: 15px;
    margin-bottom: 10px;
  }
  
  .redes-sociales ul,
  .contacto ul {
    list-style: none;
    padding: 0;
  }
  
  .redes-sociales li,
  .contacto li {
    display: inline;
    margin: 0 10px;
  }
  
  .redes-sociales img,
  .contacto img {
    width: 20px;
    height: 20px;
    vertical-align: middle; /* Alinea verticalmente los íconos */
  }
  .contacto img {
    width: 20px;
    height: 20px;
    vertical-align: middle; /* Alinea verticalmente los íconos */
    margin-right: 10px; /* Agrega un espacio a la derecha de las imágenes */
  }
  
  .contacto a {
    color: #fff;
    text-decoration: none;
  }