.avatar-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente en el contenedor */
  align-items: center; /* Centra verticalmente en el contenedor */
  width: 70%; /* Utiliza el 70% del ancho disponible */
  margin: 0 auto; /* Centra el contenedor en la página */
}

.avatar-img {
  position: relative;
  width: 350px; /* Ancho específico para la imagen */
  height: auto; /* Permite que la altura se ajuste automáticamente */
  margin: 0; /* Reduce el margen horizontal */
  max-width: 100%; /* Evita que la imagen se desborde del contenedor */
  transition: transform 1s ease, opacity 1s ease; /* Transición suave de transformación y opacidad */
}

.avatar-img:hover {
  transform: scale(1.1); /* Escala la imagen al 110% de su tamaño original */
  opacity: 0.8; /* Reduce la opacidad al 80% */
}

.avatar-text {
  text-align: left; /* Alinea el texto a la izquierda */
  max-width: 600px; /* Ancho máximo */
  flex: 1; /* Toma el espacio restante del contenedor */
  padding-left: 10px; /* Reduce el padding izquierdo */
  margin: 0; /* Elimina el margen */
}

.greeting {
  font-family: 'Montserrat', sans-serif; /* Usa la fuente Montserrat */
  font-weight: 600; /* Semi-bold */
  color: #f5f5f5; /* Blanco crudo */
  margin: 0; /* Elimina el margen por defecto */
  font-size: 4.5em;
}

.santiago {
  font-weight: bolder; /* Negrita */
  color: transparent; /* Hacemos el texto transparente */
  background-image: linear-gradient(to top, #FF810E, rgba(255, 129, 14, 0.2)); /* Gradiente con opacidad */
  -webkit-background-clip: text; /* Aplicamos el clip de fondo al texto */
  background-clip: text; /* Aplicamos el clip de fondo al texto */
}

.button-container {
  margin-top: 20px; /* Ajusta el margen superior para dar espacio entre el texto y los botones */
  display: flex; /* Utiliza flexbox para alinear los botones horizontalmente */
  align-items: flex-start; /* Alinea los elementos verticalmente arriba */
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
}

.btn {
  margin: 0 10px; /* Ajusta el margen entre los botones */
}

.btn-download {
  background-color: #fd922e; /* Color naranja FF810E */
  box-shadow: 0 0 10px rgba(255, 129, 14, 0.5); /* Efecto de luz anaranjada */
  border: none; /* Quita el borde */
  position: relative;
}

.btn-download:hover {
  background-color: #FF810E; /* Mantén el color naranja FF810E */
  box-shadow: 0 0 10px rgba(255, 129, 14, 0.7); /* Efecto de luz anaranjada al pasar el ratón */
}

.btn-about-me {
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  position: relative;
}

.btn-about-me:hover {
  background-color: #ffffff; /* Mantén el color blanco */
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.7); 
}

.icon {
  width: 20px; /* Ajusta el ancho del ícono */
  height: 20px; /* Ajusta el alto del ícono */
}

.circle-buttons {
  margin-top: 20px; /* Espacio entre los botones anteriores y los nuevos */
  display: flex; /* Utiliza flexbox para alinear los botones horizontalmente */
}

.btn-circle {
  width: 50px; /* Tamaño del botón circular */
  height: 50px; /* Tamaño del botón circular */
  border-radius: 50%; /* Forma circular */
  background-color: #00141F; /* Color de fondo */
  border: none; /* Quita el borde */
  margin-right: 10px; /* Espacio entre los botones */
  position: relative;
  transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
}

.btn-circle:hover {
  background-color: #ffffff; /* Cambia el color de fondo al blanco al hacer hover */
}

.social-icon {
  width: 50px; /* Ajusta el ancho del icono */
  height: 50px; /* Ajusta el alto del icono */
}

/* Estilos adicionales para dispositivos móviles */
@media (max-width: 768px) {
  .avatar-container {
    flex-direction: column; /* Alinea los elementos verticalmente */
    align-items: center; /* Centra horizontalmente los elementos */
    width: 100%; /* Utiliza el 100% del ancho disponible */
    margin: 50px auto 0 auto; /* Centra el contenedor en la página y agrega margen superior */
  }

  .avatar-img {
    margin: 0 auto 20px auto; /* Centra la imagen y agrega espacio debajo */
    width: 80%; /* Ajusta el ancho al 80% */
    max-width: 300px; /* Ancho máximo de 300px */
  }

  .avatar-text {
    text-align: center; /* Centra el texto */
    width: 90%; /* Utiliza el 90% del ancho disponible */
    margin: 0 auto 20px auto; /* Centra el texto y agrega espacio debajo */
  }

  .greeting {
    font-size: 2.5em; /* Ajusta el tamaño de la fuente */
  }

  .name {
    font-size: 2em; /* Ajusta el tamaño de la fuente */
  }

  .button-container {
    justify-content: center; /* Centra horizontalmente los botones */
    flex-direction: column; /* Alinea los botones verticalmente */
    align-items: center; /* Centra horizontalmente los botones */
    margin-top: 20px; /* Margen superior para dar espacio entre el texto y los botones */
  }

  .btn {
    margin: 10px 0; /* Espacio entre los botones */
    width: 100%; /* Los botones ocupan el 100% del ancho disponible */
    max-width: 300px; /* Ancho máximo de 300px */
 }


.circle-buttons {
  justify-content: center; /* Centra horizontalmente los botones circulares */
  flex-wrap: wrap; /* Permite que los botones se envuelvan en varias líneas */
  margin-top: 20px; /* Margen superior para dar espacio entre los botones y los botones circulares */
}

.btn-circle {
  margin: 5px; /* Espacio entre los botones circulares */
  width: 50px; /* Ajusta el tamaño del botón circular */
  height: 50px; /* Ajusta el tamaño del botón circular */
}
}
