@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'daisyui/dist/full.css';



body.chulex-body {
  background-color: black;
}

/* Establece el fondo negro para las páginas de PortfolioChulex */
body.portfolio-chulex-body {
  background-color: black;
}

body:not(.chulex-body) {
  min-height: 100vh;
  background-color: #00141F;
  margin: 0;
  padding: 0;
  background-image: url('../src/assets/backg5.png');
  background-size:cover;
}

.background-image {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

@media (min-aspect-ratio: 16/9) {
  .background-image {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .background-image {
    width: auto;
    height: 100%;
  }
}

.icono-drone {
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  z-index: 1;
  transition: transform 0.8s;
}

.icono-drone:hover {
  transform: translateX(-50%) rotate(360deg);
}

.portfolio-nav-container {
  margin-bottom: 0px;
}
