.portfolio-nav {
  position: relative;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: calc(100% - 40px); /* Reducimos el ancho en 40px para dejar espacio para los padding */
  max-width: 600px; /* Ajusta el ancho máximo según sea necesario */
  padding: 20px; /* Incrementamos el padding para dar más espacio */
  border-radius: 20px;
  background-color: #003747;
  z-index: 999;
  display: flex;
  justify-content: center; /* Alinea los elementos horizontalmente en el centro */
  align-items: center;
}

.portfolio-nav button {
  border: none;
  border-radius: 20px;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin: 0 20px; /* Agregamos un margen horizontal */
}

.portfolio-nav button:hover {
  color: #fd922e;
}

@media screen and (max-width: 768px) {
  .portfolio-nav {
    flex-direction: column; /* Cambia la dirección del flex a columna en pantallas pequeñas */
    align-items: center; /* Alinea los elementos al centro */
    padding: 10px;
  }
  
  .portfolio-nav button {
    margin: 5px; /* Agregamos un margen a los botones */
  }
}
